:root {
  --main-color: #000000;
  --second-color: #ffffff;
  --third-color: #404040;
  --fourth-color: #808080;
  --fifth-color: rgb(192, 192, 192);
  --six-color: #17b99e;
  --background-color: rgba(192, 192, 192, 0.4);
  --background-color-filter: rgba(192, 192, 192, 0.4) !important;
  --placeholder-color: #a1a1a1;
}
@media (max-width: 576px) {
  .hero-slider .item {
    height: 60vh;
    object-fit: cover;
  }
}
@media (max-width: 992px) {
  /* .hero-slider .item {
    position: relative;
    height: 60vh;
    width: 100% !important;
    margin: 0 auto;
  } */
}
@media (max-width: 768px) {
}

@media (min-width: 992px) {
  /* .hero-slider .item {
    position: relative;
    height: 60vh;
    width: 100% !important;
    margin: 0 auto;
  } */
}
@media (min-width: 1200px) {
}
